.carousel-inner{
  width:100%;
  max-height: 200px !important;
}

/* jssor slider bullet navigator skin 12 css */
/*
.jssorb12 div           (normal)
.jssorb12 div:hover     (normal mouseover)
.jssorb12 .av           (active)
.jssorb12 .av:hover     (active mouseover)
.jssorb12 .dn           (mousedown)
*/
.jssorb12 {
  position: absolute;
}
.jssorb12 div, .jssorb12 div:hover, .jssorb12 .av {
  position: absolute;
  /* size of bullet elment */
  width: 16px;
  height: 16px;
  background: url(../../vendor/jssor-slider/img/b12.png) no-repeat;
  overflow: hidden;
  cursor: pointer;
}
.jssorb12 div { background-position: -7px -7px; }
.jssorb12 div:hover, .jssorb12 .av:hover { background-position: -37px -7px; }
.jssorb12 .av { background-position: -67px -7px; }
.jssorb12 .dn, .jssorb12 .dn:hover { background-position: -97px -7px; }

/* jssor slider arrow navigator skin 12 css */
/*
.jssora12l                  (normal)
.jssora12r                  (normal)
.jssora12l:hover            (normal mouseover)
.jssora12r:hover            (normal mouseover)
.jssora12l.jssora12ldn      (mousedown)
.jssora12r.jssora12rdn      (mousedown)
*/
.jssora12l, .jssora12r {
  display: block;
  position: absolute;
  /* size of arrow element */
  width: 30px;
  height: 46px;
  cursor: pointer;
  background: url(../../vendor/jssor-slider/img/a12.png) no-repeat;
  overflow: hidden;
}
.jssora12l { background-position: -16px -37px; }
.jssora12r { background-position: -75px -37px; }
.jssora12l:hover { background-position: -136px -37px; }
.jssora12r:hover { background-position: -195px -37px; }
.jssora12l.jssora12ldn { background-position: -256px -37px; }
.jssora12r.jssora12rdn { background-position: -315px -37px; }
