.logo {
  height: inherit;
  width: auto;
}

.navbar-brand {
  padding: 0;
}

@media (max-width: 768px) {
  .navbar-top-links .dropdown-user {
    right: auto;
  }
}

.frontier {
  z-index: 999999;
}

.sidebar-separator {
  margin-top: 1px;
  margin-bottom: 1px;
}
