.logo {
  height: inherit;
  width: auto;
}

.navbar-brand {
  padding: 0;
}

.post {
  margin-top: 30px;
}

.article-title {
  margin-top: 0;
}

.sidebar-post {
  margin-bottom: 5px;
}

.sidebar-post-image {
  max-height: 60px;
  max-width: auto;
}

.paragraph-indent {
  text-indent: 50px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}

@media (min-width: 767px) {
  body {
    margin-bottom: 100px;
    background: url('../../assets/img/background.png') no-repeat fixed;
    background-size: auto 80%;
    background-position: left 199%;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
}

.footer-sponsor {
  max-height: 100px;
  margin-top: auto;
  margin-bottom: auto;
}

.sponsor_container {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  margin-bottom:20px;
}

.sponsor {
  position:absolute;
  width:100%;
  height:100%;
}
.sponsor img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
}

#contents {
  margin-top: 10px;
  margin-bottom: 20px;
}
