/* --[ COMMENTS]-- */
/* facebook comments */
/**
* from: https://github.com/48Web/WordPress-Bootstrap-Starter-Theme/blob/master/css/theme.css
* with modification(s)
*/
.fb-comments, .fb-comments iframe[style], .fb-like-box, .fb-like-box iframe[style] {
  width: 100% !important;
  min-width: 100% !important;
}
.fb-comments span, .fb-comments iframe span[style], .fb-like-box span, .fb-like-box iframe span[style] {
  width: 100% !important;
  min-width: 100% !important;
}
