.fa-youtube {
  color: #e62117;
}

.fa-envelope-o{
  color: #000000;
}

.fa-facebook-square{
  color: #43609c;
}

.fa-twitter{
  color: #55acee;
}

.fa-instagram{
  color: #bb9980;
}

.fa-globe{
  color: #22457c;
}
